<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <head>
    <title>👷‍♀️ The Well Rounded Developer</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://use.typekit.net/txf8esa.css">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  </head>

  <body>
    {{ content }}
  </body>
</html>
